.menu {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100px;
    background: #fff0f5;
    border: 2px solid #a8518a;
  }
  
  .header {
    padding: 4px 8px;
    text-align: center;
    color: #A8518A;
    background: #fff0f5;
    font-weight: bold;
  }

  .divider {
    border-top: 1px solid white;
    border-bottom: 1px solid #f5a8d0;
    margin: 4px 5px;
  }
  
  .items {
    display: flex;
    flex-direction: column;
  }

  .menuItem {
    all: unset;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    color: #A8518A;
    cursor: pointer;
    padding: 5px
  }
  
  .menuItem:last-child {
    border-bottom: none;
  }
  
  .menuItem:hover {
    background: #f5a8d0;
  }
  
  .menuItem:focus-visible {
    outline: 1px dotted #2c1b24;
    outline-offset: -2px;
  }