.aboutContainer {
  display: flex;
  gap: 12px;
}

.image {
  position: relative;
}

.heading {
  font-family: Arial, sans-serif;
  font-size: var(--text-subheading);
  font-weight: bold;
}

.bodyText {
  font-family: Arial, sans-serif;
  font-size: var(--text-body);
}

.linkRow:hover button {
  background: var(--dialog-blue-light);
  border-color: var(--dialog-blue);
}

.bullet {
  padding: 2px;
}