.aboutContainer {
  display: flex;
  gap: 12px;
}

.image {
  width: 100%;
  position: relative;
  height: 200px;
}

.heading {
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.bodyText {
  font-family: Arial, sans-serif;
  font-size: 11px;
  padding: 8px;
}
