.aboutContainer {
  display: flex;
  gap: 12px;
}

.image {
  position: relative;
}

.heading {
  font-family: Arial, sans-serif;
  font-size: var(--text-heading);
  font-weight: bold;
  color: black;
}

.bodyText {
  font-family: Arial, sans-serif;
  font-size: var(--text-subheading);
}

.linkRow:hover button {
  background: var(--dialog-blue-light);
  border-color: var(--dialog-blue);
}
